<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container campaign-data-collection">
  <h3>Victorian Campaign Data Collection</h3>
  <hr>
 
  <form novalidate class="campaign-data-form" name="dataForm">
    <div class="section">
       <h4>Campaign Details</h4>

       <h5>Your name:</h5>
       <input class="form-control fields" ng-model="data.campaignDetails.dataEntryPerson" placeholder="Person entering the data" required>

       <h5>Upper house region:</h5>
         <select ng-model="data.campaignDetails.region" class="fields" required>
           <option ng-repeat="region in regions" value="{{region}}">{{region}}</option>
         </select><br/>
    
       <h5>Lower house district:</h5>
         <select ng-model="data.campaignDetails.district" class="fields" required>
           <option ng-repeat="district in districts[data.campaignDetails.region]" value="{{district}}">{{district}}</option>
         </select><br/>
    
        <h5>Activity organizer person (name of person who ran the activity):</h5>
        <select ng-model="data.campaignDetails.organizerPerson" class="fields" required>
          <option ng-repeat="person in people[data.campaignDetails.region]" value="{{person}}">{{person}}</option>
        </select><br/>


        <h5>Neighbourhood team:</h5>
        <select ng-model="data.campaignDetails.neighbourhoodTeam" class="fields" required>
          <option ng-repeat="neigh in neighbourhoodTeams[data.campaignDetails.region]" value="{{neigh}}">{{neigh}}</option>
        </select><br/>
    
  
    </div>

    <div class="section">
      <h4>Activity Details</h4>

        <h5>Activity type:</h5>
        <select ng-model="data.activityDetails.activityType" class="fields" ng-required="true">
          <option ng-repeat="activity in activityTypes"  value="{{activity}}">{{activity}}</option>
        </select><br/>

        <h5>Date of activity:</h5>
        <div style="display:inline-block; min-height:290px;">
          <datepicker ng-model="data.activityDetails.activityDate" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>
    

        <h5>Start time of activity:</h5>
        <timepicker ng-model="data.activityDetails.activityStartTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" mousewheel="false" required></timepicker>



        <!-- VARIABLE CONTENT: depends on activityType selected -->
        <div ng-show="data.activityDetails.activityType === 'Door Knocking'">
          <h5>Total number of door knocks:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attempts" placeholder="Enter number of attempts made." ng-required="data.activityDetails.activityType === 'Door Knocking'">
  
          <h5>Total doors answered:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.answered" placeholder="Enter the total number of doors actually answered." ng-required="data.activityDetails.activityType === 'Door Knocking'">
  
          <h5>Meaningful interactions:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.meaningfulInteractions" placeholder="Enter number of meaningful interactions you had." ng-required="data.activityDetails.activityType === 'Door Knocking'">

          <div ng-show="role === 'admin'">
            <h5>Number of people who attended door knock:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-show="role === 'admin'" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Door Knocking' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total volunteer hours for activity:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalWorkHrs" placeholder="A group of vols only counts as ONE person because they're doing the same work." ng-required="data.activityDetails.activityType === 'Door Knocking' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total hours spent training volunteers:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalTrainingHrs" placeholder="Enter total in hours, e.g 4.5" ng-required="data.activityDetails.activityType === 'Door Knocking' && role === 'admin'">
          </div>
        </div>



        <div ng-show="data.activityDetails.activityType === 'Phone Banking'">
          <h5>Total number of phone calls made:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attempts" placeholder="Enter number of phone calls made." ng-required="data.activityDetails.activityType === 'Phone Banking'">
  
          <h5>Total answered:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.answered" placeholder="Enter number of actual answers you got." ng-required="data.activityDetails.activityType === 'Phone Banking'">
  
          <h5>Meaningful interactions:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.meaningfulInteractions" placeholder="Enter number of meaningful interactions you had." ng-required="data.activityDetails.activityType === 'Phone Banking'">

          <div ng-show="role === 'admin'">
            <h5>Number of people who attended phone banking:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Phone Banking' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total volunteer hours for activity:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalWorkHrs" placeholder="A group of vols only counts as ONE person because they're doing the same work." ng-required="data.activityDetails.activityType === 'Phone Banking' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total hours spent training volunteers:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalTrainingHrs" placeholder="Enter total in hours, e.g 4.5" ng-required="data.activityDetails.activityType === 'Phone Banking' && role === 'admin'">
          </div>
        </div>



        <div ng-show="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling'">
          <h5>Total number of phone calls made:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attempts" placeholder="Enter number of phone calls made." ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling'">
  
          <h5>Total answered:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.answered" placeholder="Enter number of actual answers you got." ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling'">
  
          <h5>Meaningful interactions:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.meaningfulInteractions" placeholder="Enter number of meaningful interactions you had." ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling'">

          <div ng-show="role === 'admin'">
            <h5>Number of people who attended volunteer recruitment phone calling:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total volunteer hours for activity:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalWorkHrs" placeholder="A group of vols only counts as ONE person because they're doing the same work." ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total hours spent training volunteers:</h5>
            <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalTrainingHrs" placeholder="Enter total in hours, e.g 4.5" ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling' && role === 'admin'">
          </div>
  
          <div ng-show="role === 'admin'">
            <h5>Total volunteer hours committed:</h5>
            <input type="number" min="0" max="998" class="form-control fields" ng-model="data.activityDetails.volTotalHrsCommitted" placeholder="Total hrs the new vols have commited to. For example, 3 new vols agree to attend 4hr event: 12hrs" ng-required="data.activityDetails.activityType === 'Volunteer Recruitment Phone Calling' && role === 'admin'">
          </div>
        </div>




        <div ng-show="data.activityDetails.activityType === 'One On One'">
          <h5>Number of one on one conversations had:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attempts" placeholder="Enter number of one on one coversations." ng-required="data.activityDetails.activityType === 'One On One'">

          <h5>Number of one on one meaningful interactions had:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.meaningfulInteractions" placeholder="Enter number of one on one meaningful interactions." ng-required="data.activityDetails.activityType === 'One On One'">
  
          <h5>Comment:</h5>
          <input type="text" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.comment" placeholder="Please write a comment" ng-required="data.activityDetails.activityType === 'One On One'">
        </div>



        <div ng-show="data.activityDetails.activityType === 'Neighbourhood Team Meeting'">
          <h5>Number of people who attended meeting:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Neighbourhood Team Meeting'">
  
          <h5>Comment:</h5>
          <input type="text" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.comment" placeholder="Please write a comment" ng-required="data.activityDetails.activityType === 'Neighbourhood Team Meeting'">
        </div>




        <div ng-show="data.activityDetails.activityType === 'Volunteer House Gathering'">
          <h5>Number of people who attended gathering:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Volunteer House Gathering'">

          <h5>Total volunteer hours committed:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalHrsCommitted" placeholder="Total hrs the new vols have commited to. For example, 3 new vols agree to attend 4hr event: 12hrs" ng-required="data.activityDetails.activityType === 'Volunteer House Gathering'">

          <h5>Comment:</h5>
          <input type="text" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.comment" placeholder="Please write a comment" ng-required="data.activityDetails.activityType === 'Volunteer House Gathering'">
        </div>



        <div ng-show="data.activityDetails.activityType === 'Stall'">
          <h5>Number of conversations had at stall:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attempts" placeholder="Enter number of one on one coversations." ng-required="data.activityDetails.activityType === 'Stall'">

          <h5>Meaningful interactions:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.meaningfulInteractions" placeholder="Enter number of meaningful interactions you had at the stall" ng-required="data.activityDetails.activityType === 'Stall'">

          <h5>Number of people who were running the stall:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Stall'">
  
          <h5>Comment:</h5>
          <input type="text" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.comment" placeholder="Please write a comment" ng-required="data.activityDetails.activityType === 'Stall'">
        </div>



        <div ng-show="data.activityDetails.activityType === 'Voter House Meeting'">
          <h5>Number of people who attended meeting:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Voter House Meeting'">
  
          <h5>Comment:</h5>
          <input type="text" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.comment" placeholder="Please write a comment" ng-required="data.activityDetails.activityType === 'Voter House Meeting'">
        </div>




        <div ng-show="data.activityDetails.activityType === 'Training Session'">
          <h5>Number of people who attended training session:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.attendance" placeholder="Enter attendance" ng-required="data.activityDetails.activityType === 'Training Session'">

          <h5>Total hours spent training volunteers:</h5>
          <input type="number" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.volTotalTrainingHrs" placeholder="Enter total in hours, e.g 4.5" ng-required="data.activityDetails.activityType === 'Training Session'">
  
          <h5>Comment:</h5>
          <input type="text" min="0" max="2998" class="form-control fields" ng-model="data.activityDetails.comment" placeholder="Please write a comment" ng-required="data.activityDetails.activityType === 'Training Session'">
        </div>


    </div>

    <button class="btn btn-primary fields" ng-click="openModal('lg')" ng-disabled="dataForm.$invalid === true" >SUBMIT</button>

  </form>


  <pre class="fields">form data = {{ data | json}}</pre>
 
</div>
<div ng-include="'components/footer/footer.html'"<div>
